[2018-11-05 01:43] gvolpe opened #33 "Split effects API and streams API into different modules"
Users that don't want to use `fs2` will be benefited by just importing the effects API based on `cats-effect`.

[2018-11-05 03:09] #33 closed

[2018-11-07 08:02] satabin opened #35 "Core module not published?"
Hi,

I upgraded the dependency in my `build.sbt` file to

[code]

When updating dependencies, sbt reports missing `fs2-redis-core` module.

[code]

It looks like the core module has not been published yet, making it impossible for me to use version 0.5.0.

[2018-11-07 09:46] gvolpe commented on #35
Hi @satabin , yes, my mistake. Will publish a `0.5.1` soon!

[2018-11-07 09:54] gvolpe commented on #35
Just published `0.5.1`, give it a try!

[2018-11-07 09:55] gvolpe commented on #35
https://github.com/gvolpe/fs2-redis/releases/tag/0.5.1

[2018-11-07 11:00] satabin commented on #35
On what repository did you publish it? I cannot find it on sonatype releases.

[2018-11-07 14:55] gvolpe commented on #35
The process of synchronizing to Maven central failed apparently so I just re-run it. Give it some time, should be up soon.

[2018-11-07 16:41] satabin commented on #35
It's all there now! Thanks a lot.

[2018-11-07 16:41] #35 closed

[2018-11-08 09:47] gvolpe opened #36 "Add integration tests"
We could use `docker` to spin up a `redis` instance as `fs2-cassandra` does.

[2018-11-09 10:40] #36 closed

[2018-11-10 02:04] gvolpe opened #38 "Setup code coverage"
Now that there are integration tests it would be nice to have code coverage report.

[2018-11-10 08:14] gvolpe commented on #38
Seems not that trivial with the current setup...

[2018-11-10 08:14] #38 closed

[2018-12-19 05:12] gvolpe opened #48 "Support for Scala 2.13.x"

[2018-12-28 04:30] emillium opened #52 "Missing map when constructing Fs2Redis using code from the example in the code"
I have roughly the following code:

[code]
When I try to compile it I get the following error:
[code]
Similar problems with `map` found through a Google search suggest that I need `cats.implicits._` and `-Ypartial-unification` as a compiler option. I have both of these, so I am at a loss.

Any help would be appreciated.

Thanks.

[2018-12-28 05:16] gvolpe commented on #52
Hi @emillium , the problem is that you have both `cats.implicits._` and `cats.syntax.all._` in scope and these two are in conflict. I recommend to just have `cats.implicits._` and remove a la carte imports unless you really know what you're doing.

[2018-12-28 05:17] gvolpe commented on #52
Also, feel free to ask these kind of questions on the [Gitter channel](https://gitter.im/fs2-redis/fs2-redis) as this is not an issue relate to `fs2-redis`. Thanks :)

[2018-12-28 05:17] #52 closed

[2018-12-31 02:40] gvolpe opened #55 "Improve codecs situation"
Currently the codecs support is quite poor. We are re-using the side-effectful codecs provided by `lettuce` without even wrapping them in `F`.

[2019-01-02 19:32] Twizty opened #58 "setNx returns Unit"
Why does setNx returns Unit? I want to know the result of my query but with this API it seems impossible.

[2019-01-03 00:51] gvolpe commented on #58
There are a bunch of methods defined this way where we discard the Java result as in most cases they are irrelevant. Eg. `set` returns a simple String "OK" in the Java API but we just represent it as `F[Unit]`.

If having `F[Boolean]` would make you happy we can make that change :) Wanna work on this small PR?

And to be consistent all the `*setNx` methods need to change to `F[Boolean]`.

[2019-01-03 09:31] Twizty commented on #58
Sure, I'd love to work on this!

[2019-01-03 13:55] gvolpe commented on #58
Go ahead please @Twizty :)

[2019-01-03 22:39] Twizty commented on #58
@gvolpe I've changed functions signatures, and made a PR. [Here](https://github.com/gvolpe/fs2-redis/pull/59) it is.

[2019-01-08 01:35] #58 closed

[2019-01-11 09:59] sholokhov opened #61 "Log4cats module is not published?"
Hi!
Seems like new module `fs2-redis-log4cats` in `0.7` [is not published](https://oss.sonatype.org/#nexus-search;quick~fs2-redis)? It makes impossible to update to a new version.

[2019-01-11 10:05] gvolpe commented on #61
Hi, you're right! Fixing it right now, should be published soon. Thanks for reporting!

[2019-01-11 10:59] #61 closed

[2019-01-11 11:00] gvolpe commented on #61
@sholokhov give it a few minutes. It's already syncing with Maven Central ;)

[2019-01-11 11:01] sholokhov commented on #61
@gvolpe great, thanks! 🔥

[2019-01-11 12:39] gvolpe commented on #61
Mmm still not there... Nexus has been super slow these past weeks. If it's not there by tomorrow I'll re-publish a `0.7.1` of everything again.

[2019-01-11 12:49] sholokhov commented on #61
@gvolpe could be a reindex issue, I was able to download it right after your first message - https://oss.sonatype.org/service/local/repositories/releases/content/com/github/gvolpe/fs2-redis-log4cats_2.12/

[2019-01-11 14:52] gvolpe commented on #61
Yes, it gets to Sonatype immediately but it took longer than normal to reach Maven Central. It is now [there](https://search.maven.org/search?q=fs2-redis) too :)

[2019-02-20 16:30] Daenyth opened #70 "Transaction support?"
I'd like to see support for transactions via some kind of resource-safe api. If it is already there, I'm happy to hear it, but the documentation doesn't make it clear.

[2019-02-21 01:33] gvolpe commented on #70
Hi @Daenyth , it's not implemented but it should be trivial to do so. I haven't had the need for it tbh. I can imagine something like:

[code]

We just need to add the `multi`, `exec` and `discard` commands to the API and just leverage `cats-effect` primitives like `bracket` to get it working nicely :)

[2019-02-21 01:37] gvolpe commented on #70
Additionally, we might want to add the `watch` command as well.

[2019-02-21 14:46] Daenyth commented on #70
The api you mention there is roughly what I anticipate it should look like, thought I'm not sure what the `_ => cmd.discard` bit is - if that's for resource safety, I'd expect instead something like `def transaction: Resource[F, TransactionCommands[F]]` on the main api that would hide that detail from me.

[2019-02-24 09:27] gvolpe commented on #70
@Daenyth I just started working on it. Got a first working version but it might need some polishing. Please take a look at the PR and let me know if you had something else in mind.

[2019-02-25 12:26] gvolpe opened #72 "Transaction support in a cluster setup"
For now, transactions are only supported (#71) in a single node setup. In order to support transactions in a cluster every transactional command needs to connect to a single node so it can't be generic as it is now (or at least it needs to be re-visited).

So for example, the `del` command is defined as follows:

[code]

In a cluster setup will always use `conn.clusterAsync` which is correct but d

[2019-02-25 15:34] gvolpe opened #73 "Documentation and examples for `watch` and `unwatch`"
Still missing from the transactions feature.

[2019-02-28 23:36] #70 closed

[2019-04-23 09:58] Twizty opened #84 "Incr with StringCommands[IO, String, String]"
Hi, I could find an example of using `.incr` method of `StringCommands` because it requires `V` type to be `Numeric` but I couldn't instantiate `StringCondecs[String, Long]`. How should I use it?

[2019-04-23 10:04] Twizty commented on #84
I've found `Codecs.derive`

[2019-04-23 10:04] #84 closed

[2019-05-05 01:13] DGolubets opened #88 "ZRANGEBYSCORE"
Hi,

According to Redis docs:
[code]
Your method definition however does not take scores, but rather.. range of values..?
[code]

[2019-05-05 05:52] gvolpe commented on #88
Hi @DGolubets ,

Yes, a `Range` represents the score. You can see the API here: https://lettuce.io/core/release/api/

[2019-05-05 07:32] gvolpe commented on #88
For future questions, please join the [Gitter channel](https://gitter.im/fs2-redis/fs2-redis) :)

[2019-05-05 10:45] DGolubets commented on #88
Hi @gvolpe,
Here is the method definition from Lettuce:
[code]
As you can see type argument in Range is not correlated with type of return value. So the definition of the method in your library should be:
[code]
The same applies to some other methods as well.

[2019-05-05 11:16] gvolpe commented on #88
Oh you're absolutely right! Will fix soon :)

[2019-05-05 12:32] #88 closed

[2019-05-14 08:50] ikempf opened #93 "Expose non-command features"
In a cluster setup it is still possible to use single-shard transactions. In order to do this you have to find the node holding the data.

You can find the node holding *myKey* the following way (using lettuce):
[code]

`getConnection` and `getPartitions` are currently not available in redis4cats.
I wanted to add those methods to `RedisCluster` or `BaseRedis` but realized that, as of today, only `

[2019-05-14 14:27] gvolpe commented on #93
Hi @ikempf ,

At a first glance doesn't seem too difficult but let me have a look at it these days and I'll get back to you (currently on a long vacation but I still carry my laptop :nerd_face: )

[2019-05-14 15:36] ikempf commented on #93
Hi @gvolpe,

No rush and have a good holiday ;)

[2019-05-14 18:39] calvinlfer opened #94 "Expose pipelining and command flushing that lettuce provides"
https://github.com/lettuce-io/lettuce-core/wiki/Pipelining-and-command-flushing

Idea: We might want to expose this as a Resource with a finalizer so you can run the commands which will queue up and then the finalizer can execute the flush

[2019-05-19 17:41] #93 closed

[2019-05-31 17:10] #94 closed

[2019-06-02 00:06] gvolpe commented on #72
Closed by #95

[2019-06-02 00:06] #72 closed

[2019-06-14 11:59] Twizty commented on #48
Is it WIP?

[2019-06-14 13:36] gvolpe commented on #48
@Twizty no, I added the issue long time ago to not forget about doing it. Now that `fs2` is released if you would like to do it please go ahead!

[2019-06-14 13:47] Twizty commented on #48
@gvolpe cool, then I'll take this issue on the weekend

[2019-06-17 17:51] gvolpe commented on #48
Closed by #104

[2019-06-17 17:51] #48 closed

[2019-07-05 14:28] sshobotov opened #111 "Redis INCR/DECR works actually only on Int"
From [documentation](https://redis.io/commands/incr)

[2019-07-05 14:30] #111 closed

[2019-08-28 20:56] gvolpe opened #120 "Use cats.effect.Blocker instead of just ContextShift"
The changes are simple but touch a lot of the code base:

1. [JRFuture](https://github.com/profunktor/redis4cats/blob/master/modules/core/src/main/scala/dev/profunktor/redis4cats/effect/JRFuture.scala#L31)'s `apply` should take a `Blocker[F]` and use it to evaluate every single operation.
2. [BaseRedis](https://github.com/profunktor/redis4cats/blob/master/modules/effects/src/main/scala/dev/profunk

[2019-08-28 21:11] kubukoz commented on #120
Why use blocker? I thought all of these are asynchronous and non-blocking.
If you want to make sure we get back to the main thread pool, I believe we should use `.guarantee(cs.shift)` after each `F.async`.

[2019-08-28 21:12] kubukoz commented on #120
btw. `Blocker` isn't parameterized by F at this moment. All operators still require ContextShift, too :)

[2019-08-28 21:15] gvolpe commented on #120
Although the operations are mainly asynchronous and non-blocking I think it's best to use a different EC for the Redis operations and this requires a different `ContextShift` other than the one given by `IOApp`. `Blocker` just makes things clearer to avoid passing an EC. What do you think?

Yes, if only using `ContextShift` we should use `guarantee` instead of `*>`.

[2019-08-28 21:19] kubukoz commented on #120
I think it'd be fine to keep using the ContextShift given by the user (after all, all work done there will be CPU-bound, and adding a second pool for that would require... well, double the CPUs).

However, if you still think it's worth separating, I'd go for a custom newtype over EC to make it explicit that you shouldn't use e.g. the default Blocker (backed by an unbounded thread pool).

[2019-08-28 21:21] gvolpe commented on #120
That's a good point. I've been out of the loop for a while so I think fixing the current behavior should be enough then, thanks for weighing in :)

[2019-08-28 21:21] kubukoz commented on #120
Man, do I have a vid for you! https://www.youtube.com/watch?v=v__IRT-QkwY

[2019-08-28 21:22] gvolpe commented on #120
Haha yeah, I've seen it :)

[2019-08-28 21:23] gvolpe opened #121 "Fix context shifting in JRFuture"
- Use `guarante(cs.shift)` in [JRFuture](https://github.com/profunktor/redis4cats/blob/master/modules/core/src/main/scala/dev/profunktor/redis4cats/effect/JRFuture.scala#L50) instead of `*>`.
- Remove unused [EmptyValue](https://github.com/profunktor/redis4cats/blob/master/modules/core/src/main/scala/dev/profunktor/redis4cats/effect/JRFuture.scala#L27) as a cleanup.

[2019-08-28 21:23] gvolpe commented on #120
Closing in favor of #121

[2019-08-28 21:23] #120 closed

[2019-08-28 21:24] kubukoz commented on #120
And about `guarantee`, in theory `(foo.attempt <* cs.shift).rethrow` should be enough, because I don't think anything will run on the EC you shift to in case of cancelation. But I'm not so sure, so yeah :)

[2019-08-29 13:53] calvinlfer commented on #121
I'll work on this @gvolpe 😸

[2019-08-29 18:43] #121 closed

[2019-08-30 01:46] ben-tsai opened #123 "Expire method for HashCommands"
Hello, could you please expose expire method for HashCommands?  Thank you.

[2019-08-30 03:16] gvolpe commented on #123
The `expire` command already exists. In order to use it for hashes specify the command api type as `RedisCommands[F, K, V]` instead of `HashCommands[F, K, V]` (see [here](https://github.com/profunktor/redis4cats/blob/master/modules/examples/src/main/scala/dev/profunktor/redis4cats/RedisHashesDemo.scala#L36)).

Should you have any further questions please reach out in the Gitter channel.

[2019-08-30 03:16] #123 closed

[2019-08-30 14:05] ben-tsai commented on #123
Thank you @gvolpe

[2019-10-04 15:00] madanepuri opened #151 "Request for exists command support"
One of our usecases need this exists command support after moving to async redis client
https://redis.io/commands/exists

[2019-10-04 20:52] alirezameskin commented on #151
I'll work on this, if you agree @gvolpe

[2019-10-04 21:00] gvolpe commented on #151
Please do @alirezameskin !

[2019-10-06 12:22] #151 closed

[2019-10-08 18:09] PawelJ-PL opened #156 "INFO Redis command missing"
It looks, that `INFO` command is missing. I've created suitable PR with following commands: `INFO`, `DBSIZE`, `LASTSAVE` and `SLOWLOG` length:

#155

[2019-10-11 08:48] alirezameskin commented on #73
Will work on it

[2019-10-11 13:16] gvolpe commented on #73
Great @alirezameskin ! :)

[2019-10-16 23:09] gvolpe commented on #156
Closed by #155

[2019-10-16 23:09] #156 closed

[2019-10-29 21:47] madanepuri opened #164 "Add support for TTL or PTTL command"
https://redis.io/commands/ttl
https://redis.io/commands/pttl

[2019-10-30 02:10] #164 closed

[2019-12-06 17:41] gvolpe opened #181 "Use mdoc for the microsite"
`tut` is no longer maintained and has issues with new versions of `sbt-microsites`.

[2019-12-07 03:16] renancaju opened #182 "Test implementation"
Is there a test implementation where one could mock responses of specific commands without needing to interact with a real Redis instance?

[2019-12-07 14:45] gvolpe commented on #182
Hi @renancaju ,

No, there are no mocks provided by this library.

I recommend joining the [Gitter channel](https://gitter.im/profunktor-dev/redis4cats) to ask this kind of questions :)

[2019-12-07 14:45] #182 closed

[2019-12-12 23:56] ChristopherDavenport opened #185 "Migrate to Github Actions"
Trying to work with this locally is difficult to the services needed to be running. These can be automated to be started and stopped automatically with testcontainers.

https://github.com/ChristopherDavenport/mules-redis/blob/master/core/src/test/scala/io/chrisdavenport/mules/redis/RedisCacheSpec.scala

This is using the spec2 version, but the underlying one originally interacted with scalatest so

[2019-12-13 00:17] gvolpe commented on #185
Thanks for the proposal Chris!

This is something I definitely want to improve but I'm not really a big fan of `test-containers`. I would prefer to provide a `docker-compose` file to run Redis since this also works well with Github actions.

Here's an example: https://github.com/gvolpe/pfps-shopping-cart/blob/master/.github/workflows/ci.yml and https://github.com/gvolpe/pfps-shopping-cart/blob/mas

[2019-12-13 12:32] #181 closed

[2019-12-24 17:07] kubukoz opened #195 "Documentation for codecs"

[2019-12-24 17:07] kubukoz opened #196 "Custom key codecs"

[2019-12-25 23:01] kubukoz opened #199 "Implement LOLWUT command"
https://redis.io/commands/lolwut

[2019-12-25 23:04] kubukoz commented on #199
This is art...

[code]

[2019-12-30 17:55] #185 closed

[2020-01-02 14:15] gvolpe opened #206 "Remove Docker test suite"
Let's embrace the use of `docker-compose` instead.

[2020-01-03 19:23] #206 closed

[2020-03-03 10:46] oskin1 opened #239 "Implement scan command"
This command is extremely useful for retrieving keys from Redis
https://redis.io/commands/scan

It is also already supported in lettuce-core
https://github.com/lettuce-io/lettuce-core/blob/3ec6223e73b74aa4b2e9caf72ed708d149b3f7f1/src/main/java/io/lettuce/core/api/async/RedisKeyAsyncCommands.java#L358

[2020-03-06 16:26] eed3si9n opened #244 "Nested class shadowing in "override" position"
Aloha. This is a friendly note from Lightbend Scala Team that Community Builds has discovered a potential issue you might run into when migrating to Dotty / Scala 3.x.

Ref https://github.com/scala/scala/pull/8705 / https://github.com/scala/bug/issues/8353

## steps

Compile using the latest 2.13.x nightly (https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/3267/)

[code]

[c

[2020-03-06 16:28] gvolpe commented on #244
Wow, this is awesome! Thanks for the report, @eed3si9n :)

[2020-03-10 11:01] oskin1 opened #246 "Implement AUTH command"
Add AUTH command support when corresponding feature is implemented in lettuce:
https://github.com/lettuce-io/lettuce-core/issues/1202

[2020-03-10 22:36] #239 closed

[2020-03-17 17:05] ArulselvanMadhavan opened #251 "Link to Scala docs in Readme"
Hello 👋 ,

I have been browsing this library to introduce this at work. I like the clean, purely functional interface. Would you be open to adding a link to scala docs in the README section?

[2020-03-17 17:14] gvolpe commented on #251
Hi :wave:,

I think that would get outdated on every release if we don't remember to update it, right? It's probably best to add the scaladocs as part of the microsite but that requires some extra work.

See for example, how [Cats Effect](https://typelevel.org/cats-effect/) does it.

[2020-03-19 20:41] #251 closed

[2020-05-12 10:21] gvolpe opened #287 "Write scala docs"
We've been lacking in Scaladocs for a long time. I think a good first step towards improving this would be writing Scaladocs for important functions such as `Redis[F].utf8`, `Redis[F].simple`, `Redis[F].clusterUtf8`, etc.

[2020-05-13 09:27] #287 closed

[2020-05-13 09:42] gvolpe opened #290 "Flaky transactions test in CI"
[code]

[2020-05-13 09:43] gvolpe opened #291 "Migrate to MUnit"

[2020-05-13 13:57] #291 closed

[2020-05-13 14:04] gvolpe commented on #290
Seems to be fixed after #292

[2020-05-13 14:04] #290 closed

[2020-05-14 18:34] gvolpe commented on #195
Closed by #295

[2020-05-14 18:34] #195 closed

[2020-05-15 12:50] #196 closed

[2020-05-31 13:47] #73 closed

[2020-06-01 14:45] gvolpe commented on #244
It seems this issue has been fixed in https://github.com/augustjune/context-applied/pull/5 . If it appears again, please report back :)

[2020-06-01 14:45] #244 closed

[2020-07-02 07:33] gvolpe opened #323 "Set debug level on transactional logs + add UUID"
In a concurrent environment, the current transactional logs are useless since there is no way to identify what transaction each message belongs to. Adding a `UUID` to the message will solve this issue. And I would also like to change the logging level to debug for these messages.

[2020-07-02 09:51] froth opened #325 "Question: Error Handling in Codecs"
When defining codecs there is no obvious way or handling parsing errors.

In the examples you do something like the following:

[code]
How would I define an SplitEpi for [String, A] where there is no useful default value for A?

I thought about defining a SplitEpi[String, Option[A]] (or Either). But this would mean that I always would always wrap my A in a Some when encoding.

Alternatively I coul

[2020-07-02 11:15] gvolpe commented on #325
I think I need to make this clearer in the documentation. If there's any error handling you would like to do, I don't recommend using the Codecs mechanism (which builds on top of the Java API) and I suggest you use `UTF-8` instead and separate the encoding / decoding from the Redis code.

https://redis4cats.profunktor.dev/codecs.html

If you have more questions, please ask them in the Gitter chann

[2020-07-02 11:15] #325 closed

[2020-07-02 11:20] froth commented on #325
Thanks, that makes sense. And I will try the gitter next time.

[2020-07-05 13:40] gvolpe commented on #323
It's been already done but it hasn't been released...

[2020-07-05 13:40] #323 closed

[2020-07-08 09:51] vladimir-lu opened #330 "API suggestion: PubSub.mkPubSubConnection using `Resource` instead of `Stream`"
Currently, `PubSub.mkPubSubConnection` creates a `Stream` of `PubSubCommands`, with a single element emitted.

I have a use-case where I need to subscribe/unsubscribe for keys for short periods of time, based on incoming requests. It would be simpler to have the API using `Resource` because having a `Stream` means that you need to do all the work inside the `Stream` type, rather than the `F` of th

[2020-07-08 16:25] gvolpe commented on #330
The implementation is quite old. IIRC there was no `Stream.resource` implementation when this was written so it made sense just staying in `Stream`. However, I'm okay in making it a `Resource` now. We just merged a similar PR today in the streaming API.

[2020-07-09 15:05] quanganhtran opened #331 "Implement SCAN command with arguments"
To follow up on #239
https://redis.io/commands/scan

Implement SCAN that accepts MATCH and COUNT. MATCH is important for the application not to iterate the whole data set.

Lettuce 5.3.x API: https://github.com/lettuce-io/lettuce-core/blob/dbab9668c379f7931b1e2d50dbb232d4823abea9/src/main/java/io/lettuce/core/api/async/RedisKeyAsyncCommands.java#L375

[2020-07-09 15:08] quanganhtran opened #332 "Implement OBJECT IDLETIME command"
https://redis.io/commands/object

Implement OBJECT IDLETIME. This command is useful for memory management. It is used in "moving expiration based on last used" cleanup strategy.

Lettuce 5.3.x API: https://github.com/lettuce-io/lettuce-core/blob/dbab9668c379f7931b1e2d50dbb232d4823abea9/src/main/java/io/lettuce/core/api/async/RedisKeyAsyncCommands.java#L169

[2020-07-09 20:03] #332 closed

[2020-07-10 07:28] quanganhtran commented on #331
I can also take this one. What should be the API?

[code]

[code]

[code]

[2020-07-10 13:49] gvolpe commented on #331
So this is what we currently have:

[code]

I'd be in favor of making it just a single method:

[code]

Where `cursor` is also part of `ScanArgs`. WDYT?

[2020-07-13 14:06] quanganhtran commented on #331
@gvolpe what you proposed totally works for me as well. However, based on precedence in `set` command, one might also see why `cursor` could be separated (like the option 2 I listed above) as this argument is positional (albeit the only one) in the Redis SCAN command while the others are named. Do we aim to have any convention that could help making future API decisions?

[2020-07-13 18:05] gvolpe commented on #331
@quanganhtran I'm okay with any of those options. If you think option 2 makes more sense, go for it :+1:

[2020-07-17 08:25] #331 closed

[2020-07-30 09:53] #199 closed

[2020-07-30 10:41] kubukoz commented on #199
@gvolpe I think using a bot to close stale issues is overkill ;) besides, it may accidentally close actually important discussions, I've seen this countless times in popular projects. The fact something isn't active doesn't always mean it's no longer worth having

[2020-07-30 11:01] gvolpe commented on #199
I think that's the purpose of the "Reopen issue" button :wink:

[2020-07-30 11:03] gvolpe commented on #199
If there are any issues or PRs that should not be closed, it suffices to add the "pinned" label to them and the stale robot won't do anything about it :)

[2020-07-30 11:55] kubukoz commented on #199
ah, that's fair enuogh, I guess... But only up to 3 issues can be pinned, so it's a limitation for some projects.

[2020-07-30 12:00] gvolpe commented on #199
Where did you get there's a limitation? AFAICS "pinned" is just a label and you can add this label to N issues and PRs

[2020-07-30 12:04] gvolpe commented on #199
see https://github.com/profunktor/redis4cats/blob/master/.github/stale.yml#L5

[2020-07-30 12:05] kubukoz commented on #199
![image](https://user-images.githubusercontent.com/894884/88920755-a7ff0e00-d26d-11ea-94ba-139e5b208ede.png)

Just from here, apparently I was talking about something else :D

[2020-07-30 12:07] gvolpe commented on #199
oh yeah, that's something else :smile: you can customize which labels should not be considered by the stale robot

[2020-08-03 08:34] gvolpe opened #344 "Flaky CI build error"
The following error appears from time to time, randomly. Needs investigation.

[code]

[2020-09-05 02:27] pjan opened #357 "pexpire/pexpireat support"
[Redis docs for PEXPIRE](https://redis.io/commands/pexpire) - any chance this is on the roadmap?

![image](https://user-images.githubusercontent.com/98241/92295976-65aea800-ef62-11ea-9751-5b4926f5ca43.png)

[2020-09-05 02:31] pjan commented on #357
FWIW, I would probably not change the current API you have, but just call `pexpire` instead of `expire` on the underlying lettuce lib. Benefit: increased precision on the timeout (from `seconds` to `milliseconds`). If you'd be happy with that tiny change, I believe I could even move myself to create a PR for this 😓 🙃

[2020-09-05 10:55] gvolpe commented on #357
@pjan have a look at the PR and let me know if that would work for you :)

[2020-09-15 12:41] arturaz opened #364 "hmGet throws an exception if one of the keys doesn't have a value"
Calling `redis.hmGet` with a key that isn't in the Redis hash will result in

[code]

This is because of the implementation of:

https://github.com/profunktor/redis4cats/blob/c982ee5faed10af15302332d54bb06dafa9dfd7f/modules/effects/src/main/scala/dev/profunktor/redis4cats/redis.scala#L702

Which then calls lettuce:
![image](https://user-images.githubusercontent.com/12931/93211396-dbd4bb00-f769-11e

[2020-09-15 12:53] #364 closed

[2020-10-03 10:09] #344 closed

[2020-10-03 17:57] gvolpe opened #376 "Flaky Ci tests"
So #344 is still happening, though, we now get a proper assertion error instead of the `Boxed Error`.

[code]

[2020-10-03 18:06] gvolpe commented on #376
Another one:

[code]

[2020-10-06 08:43] gvolpe commented on #376
Hmm not sure if this is related but it's a new error:

[code]

[2020-10-08 06:59] ghostdogpr opened #381 "Error while executing transactions in parallel"
When running transactions in parallel, I am getting the `ERR MULTI calls can not be nested` error.
Here is a reproducer.

[code]

[code]

I have a list of 100 transactions, which I run in parallel (`collectAll` is ZIO's `sequence`) with maximum 10 concurrent fibers. This is enough to trigger `ERR MULTI calls can not be nested`.

[2020-10-08 07:04] ghostdogpr commented on #381
If it helps, a version with cats-effect IO, same result:

[code]

[2020-10-08 10:11] gvolpe commented on #381
Hey @ghostdogpr ,

Yes, this is actually documented at https://redis4cats.profunktor.dev/transactions.html

You can find an example here: https://github.com/profunktor/redis4cats/blob/master/modules/examples/src/main/scala/dev/profunktor/redis4cats/ConcurrentTransactionsDemo.scala

Closing this for now but feel free to re-open if you find other issues.

[2020-10-08 10:11] #381 closed

[2020-10-08 11:22] cosminci opened #383 "Support refresh of the redis cluster topology view"
The need for this is best described in the lettuce docs for [refreshing the cluster topology view](https://github.com/lettuce-io/lettuce-core/wiki/Redis-Cluster#user-content-refreshing-the-cluster-topology-view).

Currently, redis4cats doesn't expose an API to allow refreshing the topology view. The functionality could be added in the client initialization i.e. [RedisClusterClient](https://github.

[2020-10-13 15:24] ikempf opened #386 "Optimistic locking issue"
I have a use case where numerous clients try updating the same value but only a single one is allowed to succeed.

In order to achieve this I use the following flow (for every single client).
To my understanding this should be [feasible with redis](https://redis.io/topics/transactions)
[code]

Here is the corresponding `redis4cats` code, it's a little long and can also be found [here](https://gith

[2020-10-14 00:35] sshobotov commented on #376
@gvolpe I believe one of mentioned cases could be addressed by my PR https://github.com/profunktor/redis4cats/pull/387/files#diff-6bcb670e0ccabc25d51df6667358fe6abaa9dcc1169dbed4f86adeb0aa0dccdeR245

[2020-10-14 08:18] gvolpe commented on #386
Hi @ikempf ,

Thanks for the detailed report! I already integrated this test in Redis4Cats' suite but I couldn't figure out what's wrong so I will need more time to look into this but just letting you know I'm on it.

[2020-10-14 09:50] gvolpe commented on #376
Just seen this, not sure if it's due to flakiness...

[code]

[2020-10-14 10:04] #330 closed

[2020-10-14 11:01] sshobotov commented on #386
Hey @ikempf, @gvolpe is it possible that it's not a bug but an expected behavior: Parallel doesn't guarantee that all scheduled tasks would be executed exactly in parallel (I guess due to CPU and threads execution machinery), so maybe sometimes transaction completes earlier than some of the tasks are started. To illustrate my assumption you could put into your code some `sleep` to make transaction

[2020-10-14 11:42] ikempf commented on #386
Hi @sshobotov,
Indeed there is no guarantee that tasks are started in parallel at all. That's why I do not rely solely on the optimistic locking but also add code logic that asserts the current value of the given key.

Let's say we have `someKey => someValue` in redis and run two transactions :
- Either the two transactions try to update `someKey` on parallel => one is discarded thanks to the `wat

[2020-10-14 12:18] gvolpe commented on #386
The test is not perfect. I modified it to guarantee that the `watch` is executed by all the clients before each of them run the transaction to set the key but I still see unexpected results. I debugged it a little bit last evening but didn't get too far.

[2020-10-14 12:20] sshobotov commented on #386
@gvolpe fun fact changing this line https://github.com/profunktor/redis4cats/blob/master/modules/effects/src/main/scala/dev/profunktor/redis4cats/transactions.scala#L39 to
[code]
totally fixed this bug on my machine (but I don't know what I'm doing so might me not related)

[2020-10-14 12:24] gvolpe commented on #386
Hmm @sshobotov good finding! We have this piece of code in the `ExitCase.Completed`, and the code you pasted is called on `ops.onComplete`, so in case of error the rest of the code in the for-comprehension won't be executed and I'm not sure if that's what we want.

[code]

I'll have a look after work if you didn't solve it before :)

[2020-10-14 19:42] gvolpe commented on #386
@ikempf that assumption is incorrect. `WATCH` only makes sense to concurrent modifications to the watched key make `EXEC` act like `DISCARD`. For a single connection, it does not make sense to use `WATCH`.

So in the case of running multiple connections via `parSequence`, we cannot be sure whether a transaction had already run by the time another connection calls `WATCH`, though, in your example y

[2020-10-14 20:43] ikempf commented on #386
Sorry I wasn't very clear in my previous response. In my production code I have no control over when and how many connections try to update the key, this is why I had to add the `assertCurrent`. But whatever, that doesn't matter :)

FYI I tried to reproduce the issue with Lettuce (just in case) but didn't observe the unexpected behaviour.

[2020-10-14 21:16] gvolpe commented on #386
Right, so that's a correct usage. The reason why all the `WATCH` commands need to be executed before the transaction is so we have a deterministic test, otherwise we can't really write any assertions.

Have a look at #389, I made some progress but it still does not work as expected.

[2020-10-18 15:32] gvolpe commented on #376
[code]

[2020-10-18 16:24] gvolpe commented on #383
Closed by #384

[2020-10-18 16:24] #383 closed

[2020-10-29 13:01] sergkh opened #396 "Add to set commands discard the result"
Commands like `zAdd`, `zAddIncr`, `sAdd` etc. return `Unit` as the result, while Redis responds with a number of inserted elements. Lettuce returns `Long` for those commands as well.

Without this implementing a scenario like atomically check if some value is in the set and add it if not is not possible. For example I would like to see something like:

[code]

[2020-10-29 13:20] sergkh commented on #396
@gvolpe If you OK with the change I do it.

[2020-10-29 13:21] gvolpe commented on #396
Sure go for it @sergkh !

[2020-10-30 09:32] #396 closed

[2020-11-16 11:13] sholokhov opened #411 "Cut new release?"
Hi!

When do you expect to cut next release? We have a bug which is related to already merged https://github.com/profunktor/redis4cats/pull/387, so would love to get this fix! :)

[2020-11-16 11:18] gvolpe commented on #411
@sholokhov you can always use the latest snapshot, which gets published automatically on every merge to `master`. I would like to get the transactions bug fixed before cutting a new release but I haven't had any time to work on it :(

Look at Github actions in this repo. e.g. https://github.com/profunktor/redis4cats/runs/1404701017

[2020-11-16 11:19] gvolpe commented on #411
For more questions, it's preferable to use the Gitter channel: https://gitter.im/profunktor-dev/redis4cats

[2020-11-16 11:19] #411 closed

[2020-11-28 05:05] kubukoz opened #423 "CE3 migration"
Hey ;)

Just wanted to find out if there are any parts of redis4cats we can expect to be problematic in the upcoming Cats Effect 3 migration. If someone wants to take a stab at it, now's probably a good time (I'm happy to help with any questions).

@gvolpe do you see anything that could be a problem? Are we using `Effect / ConcurrentEffect` in redis4cats, or anything else that is gone in ce3?

[2020-11-28 08:19] gvolpe commented on #423
Off the top of my head, I think only `Concurrent: ContextShift` everywhere. Should not be a problem :)

[2020-12-05 17:07] mmienko commented on #383
We could set cluster topology and other options was by accessing `underlying` java lettuce client. For example,
[code]

I think setting these also in `Redis4CatsConfig` could be confusing. What about a new factory method
[code]
which is similar too existing [RedisClient factory method](https://github.com/profunktor/redis4cats/blob/b4e41d7d433ca84c661b5457026448269841e6b5/modules/core/src/main/scal

[2020-12-05 18:10] #246 closed

[2020-12-06 18:21] #386 closed

[2020-12-06 18:22] gvolpe commented on #376
Closed by #389

[2020-12-06 18:22] #376 closed

[2020-12-06 22:17] gvolpe opened #434 "Canceled transactions might still make changes"
The following examples is extracted from the test suite.

[code]

Now this appears to be non-deterministic. Sometimes `tx-1` is effectively set to `v1`.

### Cases to investigate

I can think of two possible cases.

1. ~The transaction completes before `IO.unit` is triggered by `race`.~
2. ~The `set` operations and the transactional `EXEC` are running in different threads.~

~I think (1) is the mo

[2020-12-06 22:36] gvolpe commented on #434
Here's an example: https://github.com/profunktor/redis4cats/runs/1507633193

[2020-12-06 22:44] gvolpe commented on #434
(2) is discarded after confirming the operations run in the same thread.

[code]

Same for transactions

[code]

[2020-12-07 11:14] gvolpe commented on #434
[code]

[2020-12-07 11:25] gvolpe commented on #434
[code]

[2020-12-07 14:39] #434 closed

[2020-12-07 14:40] gvolpe commented on #434
Fixed by canceling the command fibers on cancellation before calling `DISCARD`.

[code]

It makes sense because in some race scenarios `DISCARD` would hit the server before some of the commands. Incidentally, this also explains why the transactional delay makes the feature work; we give the commands time to be executed before calling `EXEC`.

However, in case of successful computation we cannot jo

[2020-12-27 11:56] epifab opened #445 "StreamingOffset.Latest seems to bring no results?"
Hi there, thanks for this library.

I've been playing with the experimental `RedisStream` and couldn't quite get the `StreamingOffset.Latest` to work, as it doesn't seem to yield any new element published to the stream.

I've put together a test describing the issue, can you spot any obvious mistake?

I'm running this test against a vanilla `redis:5-alpine` docker image.
The "custom offset" consis

[2020-12-30 01:30] epifab opened #446 "Subscribing to a redis stream causes thousands of xread per second"
I noticed that as I subscribe to a Redis stream my network traffic usage goes to the roof for the whole time, even when nothing is being published to that stream.
I believe setting `block` to 0 milliseconds makes this problem go away. Got a PR ready to be sent unless there's any obvious reason not to do this.

[2020-12-30 11:19] #446 closed

[2021-02-01 09:56] gvolpe opened #460 "Flaky streaming test"
[code]

https://github.com/profunktor/redis4cats/runs/1805553054?check_suite_focus=true

[2021-02-05 00:10] kubukoz commented on #423
Definitely shouldn't be closed

[2021-03-01 10:25] bplommer opened #480 "Scala 3 support"
Is there a plan for this? It seems the main obstacle is use of `context-applied`, which doesn't seem to have any current plans to support Scala 3.

[2021-03-01 11:11] gvolpe commented on #480
No plans yet. I did something similar in another library I help maintain https://github.com/cr-org/neutron/pull/144 but I'm not really convinced yet. That library also depends on `estatico/scala-newtype` for which there's no replacement yet.

At the moment, it's only me maintaining this library with very limited time and resource but if you would like to help with the task, maybe we can plan somet

[2021-03-01 11:38] bplommer commented on #480
I'm happy to give it a go when I have time, if you don't mind losing `context-applied` 🙂

[2021-03-01 11:50] gvolpe commented on #480
Oh I'm very fond of that little plugin but I guess it's time to say goodbye :cry: , feel free to give it a spin :)

[2021-03-13 10:05] gvolpe opened #492 "RedisSpec.pipelining test results in TimeoutException with CE3"
[code]

[2021-03-30 16:19] bplommer commented on #492
I haven't been able to reproduce this locally. Have you?

[2021-03-31 13:22] gvolpe commented on #492
Still failing :( https://github.com/profunktor/redis4cats/pull/516/checks?check_run_id=2237224133

[2021-03-31 15:54] gvolpe commented on #492
This one also fails now, I think these are related so I'll keep it in the same issue.

[code]

I couldn't reproduce this locally, unfortunately.

[2021-03-31 16:43] bplommer commented on #492
Interesting - I'm able to reproduce it locally on the `updates` branch (#515) but not on the `internal/redis-monad` one (#516).

However, after running `OptimisticLockSuite` on `internal/redis-monad `several times I start getting the following error, which makes me think there's a resource leak:
[code]

[2021-03-31 17:16] bplommer commented on #492
The change in https://github.com/profunktor/redis4cats/pull/515/commits/ef697b34defb2de92e56acd247b3f658603c224a *seems* to have fixed it locally for me, but I can't be sure because I'm only intermittently able to reproduce it locally. We'll see what happens in CI.

[2021-03-31 17:21] bplommer commented on #492
That's passed CI once - I'll rerun it a couple of times to make sure.

[2021-03-31 17:42] gvolpe commented on #492
🚀

[2021-04-01 07:27] gvolpe commented on #480
closed by #487

[2021-04-01 07:27] #480 closed

[2021-04-01 07:27] gvolpe commented on #423
closed by #484

[2021-04-01 07:27] #423 closed

[2021-06-24 00:08] qwbarch opened #558 "Maven missing Scala 3 release"
Any chance there'll be a maven release for Scala 3?
I've been publishing locally using the commit from #551 but it's a bit difficult to share with others since they need to do the same thing

[2021-06-24 06:28] gvolpe commented on #558
Yes, we're a little behind with it and I don't have time these days, unfortunately. I should be able to get to this in July if no other maintainer can do it first. It's not only releasing but there are also a few bugs that should be fixed before doing so.

In the meantime, you can always use snapshots that are automatically published on every merge, there's no need to publish locally. See https://

[2021-06-24 06:43] qwbarch commented on #558
Oh awesome, didn't know there's snapshot versions published. Thanks!

[2021-06-24 06:43] #558 closed

[2021-06-30 13:28] #445 closed

[2021-07-01 14:32] gvolpe commented on #460
Still seeing this

[code]

[2021-07-26 08:23] bplommer opened #573 "imap-like methods for changing key and value types of commands instances"

[2021-09-08 15:21] svroonland opened #593 "Missing removeListener?"
I'm diagnosing an issue with a "dispatcher already shutdown" error message, using the 1.0.0 version of `redis4cats`. Here's the exception that is thrown:

[code]

Looking at `PubSubInternals`, I noticed there is a `addListener` call but there is no matching `removeListener` call anywhere. Could this be the cause, and should this be treated as a `Resource`?

[2021-09-08 19:10] liorshtekel91 opened #594 "connection per command"
Hi, I noticed that I use  Redis[IO].simple(redisURI, jsonCodecList), every command I execute opens a new client.  I don't want that to happen.  I have 2000+- commands and want to understand how to prevent it

this is my RedisStore class :

class RedisStore[A](redisURIc: String)(implicit decoder: Decoder[A],
                                       encoder: Encoder[A],

[2021-09-09 08:05] gvolpe commented on #594
Use [fromClient](https://redis4cats.profunktor.dev/client.html#client-configuration) instead.

[2021-09-09 08:05] #594 closed

[2021-09-09 08:07] gvolpe commented on #593
A minimal example to reproduce the issue would be great.

[2021-09-09 08:10] liorshtekel91 commented on #594
I also used, the same thing, is there an example of what you mean?

[2021-09-09 08:21] gvolpe commented on #594
You need to share the `RedisCommands` (pass it as an argument) wherever it's needed. If you call `use` every time you run a command, then a new connection will be acquired and released for each command.

This is the "shared state" concept of functional programming. You can read more about [here](https://typelevel.org/blog/2018/06/07/shared-state-in-fp.html) or watch [this talk](https://vimeo.com/2

[2021-09-09 08:54] gvolpe commented on #594
I forgot to mention that `RedisCommands` is modeled as a [cats.effect.Resource](https://typelevel.org/cats-effect/docs/std/resource), so make sure you get familiar with it, as it is fundamental to understand most of it.

[2021-09-09 09:44] liorshtekel91 commented on #594
val mkOpts: IO[ClientOptions] =
    IO {
      ClientOptions
        .builder()
        .autoReconnect(DEFAULT_AUTO_RECONNECT)
        .pingBeforeActivateConnection(DEFAULT_PING_BEFORE_ACTIVATE_CONNECTION)
        .requestQueueSize(DEFAULT_REQUEST_QUEUE_SIZE)
        .disconnectedBehavior(DEFAULT_DISCONNECTED_BEHAVIOR)
        .socketOptions(DEFAULT_SOCKET_OPTIONS)
        .suspendReconnectOnProto

[2021-09-09 12:16] svroonland commented on #593
Of course. Here is the reproducer, it's a copy of `PubSubDemo` with the `take(1)` added:

[code]

[2021-09-09 12:22] svroonland commented on #593
I will make an attempt at a fix and submit a PR.

[2021-09-10 09:14] gvolpe opened #597 "Add test for dispatcher leakage fix in pub sub"
See https://github.com/profunktor/redis4cats/pull/595 for details.

[2021-09-10 09:16] #593 closed

[2021-09-10 09:22] gvolpe commented on #594
@liorshtekel91 please join the [Gitter channel](https://gitter.im/profunktor-dev/redis4cats) for more questions.

[2021-09-28 11:23] svroonland commented on #593
@gvolpe Would it be possible to make a release with this patch?

[2021-09-28 13:19] gvolpe commented on #593
Sure, we should be cutting a release sometime soon. In the meantime, a snapshot is automatically built on every commit to master, in case you didn't know. Check the CI jobs, you can find the snapshot published there.

[2021-10-05 13:02] otobrglez opened #604 "Support for "bitsets""
Hey! 👋

I have a question. Does redis4cats support work with bitsets and commands like [setbit](https://redis.io/commands/setbit) or [bitfield](https://redis.io/commands/bitfield)?

I found few pieces in [Bits#bitCount](https://github.com/profunktor/redis4cats/blob/83bb4f36dd57e718c037e27fa8b79b44f79f3531/modules/effects/src/main/scala/dev/profunktor/redis4cats/algebra/strings.scala#L66-L67) and [

[2021-10-05 16:35] gvolpe commented on #604
Hi @otobrglez 👋🏽 ,

It is not supported at the moment, mainly just an oversight, and it was never requested until now :)

Adding support for all those commands should be straight forward. Roughly, these are the steps to do so:

1. Create a `BitCommands[F[_]]` algebra (look [here](https://github.com/profunktor/redis4cats/tree/series/1.x/modules/effects/src/main/scala/dev/profunktor/redis4cats/algeb

[2021-10-06 13:58] otobrglez commented on #604
Hey @gvolpe 👋 !

I would like to pursue this challenge and add these methods to the library myself and would appreciate it if you can help me navigate the process and some details along the way.

This is the PR that I have so far -> https://github.com/profunktor/redis4cats/pull/606

Regards!

- Oto

[2021-10-15 03:58] TopSpoofer opened #610 "when the value is json, can i convert it to a case class expediently？"

[2021-10-17 12:42] gvolpe commented on #610
Please refer to the [Gitter channel](https://gitter.im/profunktor-dev/redis4cats) to ask questions. The issue tracker is for issues.

[2021-10-17 12:42] #610 closed

[2021-11-15 16:17] otobrglez commented on #573
Hey @bplommer! 👋

Can I please ask you to provide a more details, examples or references on this issue please.

Regards!

[2021-11-29 17:50] hughsimpson opened #626 "Publishing within a transaction is unsupported"
Apologies if this claim is incorrect, but AFAICT there's no transactional support for publishing messages to a topic within a multi block, which leads to a choice between various unappetising workarounds in some use-cases

[2021-12-14 06:13] Swoorup opened #630 "Redis Streams: Use fs2.Stream directly in traits for clarity"
Reading https://redis.io/topics/streams-intro `XREAD` along with `XREADGROUP` also has a listening/blocking mode, which would avoid wasteful polling.
Wondering if this library should also provide read as a fs2 Stream?

[code]

[2021-12-14 09:03] Swoorup opened #631 "Flush per chunk when writing using redis streams"
Afaik currently, at each writes, the payload is directly written as per autoflush documentation: https://github.com/lettuce-io/lettuce-core/wiki/Pipelining-and-command-flushing.

Wouldn't it be more efficient, if we could disable `autoflush` and instead flush at each `fs2.Chunk` instead of per element when working with redis streams?

[2021-12-14 10:56] Swoorup commented on #630
Ugh, I was bit thrown off looking at the documentation. 😄
Why not have the `Stream` type directly in the `Streaming` trait?

[code]

[2021-12-14 13:18] Swoorup opened #632 "Support connection pooling for streaming api"
For cases, when you might have both consumer/producer in the same process, it would be nice if pooling option was available. Currently, it is not possible to run both consumers and producers in parallel over the same connection. Only one operation can run at a time.

[2021-12-14 13:25] Swoorup commented on #632
Potential candidate:  https://github.com/tpolecat/pool-party

[2021-12-15 10:21] Swoorup commented on #631
I currently have something like this. https://github.com/profunktor/redis4cats/pull/634
It appears to work fine, but hangs after few seconds, when awaiting for all commands to complete. 🤷🏼

[2021-12-18 06:15] #632 closed

[2021-12-22 23:43] missingfaktor opened #639 "HMSET has been deprecated"
Since Redis 4.0.0, `HMSET` has been deprecated, and `HSET` was expanded to accept multiple field-value pairs. Should `redis4cats` API change accordingly?

- https://redis.io/commands/HMSET
- https://redis.io/commands/HSET

[2021-12-23 07:59] gvolpe commented on #639
Yes, `hmset` should be deprecated and later removed. Lettuce [has added support](https://github.com/lettuce-io/lettuce-core/issues/1217) for the `hset` variant that replaces it long ago, so it should be a matter of putting up the work to get it done.

[2021-12-23 14:16] missingfaktor commented on #639
I'm happy to give this a try. How can I sign up for this work?

[2021-12-23 16:30] gvolpe commented on #639
Great, just go for it @missingfaktor (bear in mind we're during the holiday season so the review might take some time).

[2021-12-24 17:56] missingfaktor commented on #639
Here's a PR: https://github.com/profunktor/redis4cats/pull/641. Please review whenever you have time, no rush. Thanks for the library. And wish you happy holidays! 😇

[2021-12-27 10:30] #639 closed

[2022-01-21 17:48] jhmartin opened #655 "Support Lettuce 6.1.6 NodeFilter for increased Redis resiliency."
https://github.com/lettuce-io/lettuce-core/issues/1942 shows that Lettuce does not handle the ungraceful failure of a Redis-cluster node very well. 6.1.6 introduces the concept of a node-filter that can be applied to topology updates such that connections with failed nodes will be abandoned as soon as the topology refresh occurs.

It looks like incorporating this would occur in https://github.com/

[2022-01-21 20:54] jhmartin opened #656 "Support periodic refreshes in Adaptive mode"
Looking at https://github.com/lettuce-io/lettuce-core/issues/339#issuecomment-241638972 it appears that there is a strong case to enable a periodic refresh even when using adaptive-refreshes. For example, a failed replica does not trigger a refresh --  clients first receive a trigger (such as a MOVED result) to trigger that kind of refresh, which won't necessarily happen.

Existing behavior could

[2022-01-29 15:51] #655 closed, assigned to nobody

[2022-01-31 23:43] kyri-petrou opened #660 "[Question] When is the next release planned for?"
Hi there 👋

I was just looking at the source code as I was looking for a way to customise the threadpool size, and noticed that in the `1.0.0` version, the `.fromClient` method creates an Executor with a threadpool size of 1. It also seems that the threadpool size was made customizable in [this PR](https://github.com/profunktor/redis4cats/pull/623) ~2 months ago.

Are there plans to release a vers

[2022-02-01 09:07] gvolpe opened #662 "Maintainers wanted!"
Hi all,

If you or your company uses Redis4cats in production, it would benefit from maintainers helping cut releases, reviewing PRs, etc.

As a one-man project, I don't have the time it needs, and I'm sincerely overwhelmed. Happy to provide some guidance for those who volunteer.

There are also a lot of known (hard) issues to solve that are barely documented, or not at all, so if you're up to the

[2022-02-01 09:08] gvolpe commented on #660
See #662

[2022-02-01 09:19] gvolpe commented on #662
### To all of you asking for a new release

Cutting a new release is very easy, I only need to trim the automatically generated release notes and create a tag. The rest is all automated.

The problem is that before doing so, we need to groom all the existing opened issues and PRs, and make sure everything is good. Also, lately I've only focused on the CE3 version (series/1.x) while the CE2 version

[2022-02-01 09:56] #660 closed, assigned to nobody

[2022-02-01 20:33] ayushworks commented on #662
hi @gvolpe  : i am more than happy to help in maintaining. My lack of experience in OSS could hurt but otherwise i am in.

[2022-02-01 20:45] kyri-petrou commented on #662
Hi @gvolpe 👋 . Happy to help with maintaining as well in any way that I can. I've only ever used CE3 though, so not too sure how well I can contribute to the CE2 version.

[2022-02-01 22:15] danielnaumau commented on #662
Hi @gvolpe . I'll be glad to help you

[2022-02-02 09:27] gvolpe commented on #662
Thank you, folks! I sent out an invite to all of you.

The priority is now to groom all the open PRs (mainly by scala-steward) and see why they don't pass the CI build, and try to fix it, so I can finally cut a release for the CE3 version at least. Most of them might not compile because of some imports that have changed or so, others might be a little bit tricky.

Once you pick up one, make sure y

[2022-02-21 22:53] dmedser opened #669 "zRevRangeByScoreWithScores implementation mistake"
https://github.com/profunktor/redis4cats/blob/c7b0447758175d2f632790aa5c032c41015d3c80/modules/effects/src/main/scala/dev/profunktor/redis4cats/redis.scala#L1357

Take a look at `None` case: `c.zrevrangebyscoreWithScores` should be instead of `c.zrangebyscoreWithScores`

[2022-02-21 23:46] #630 closed

[2022-02-21 23:46] #631 closed

[2022-03-04 13:52] hajlaoui-nader commented on #662
hello @gvolpe ! I will be happy to help maintaining this lib

[2022-03-09 11:33] gvolpe commented on #662
Cheers @hajlaoui-nader , you should have received an invitation.

[2022-03-14 14:02] gvolpe commented on #669
Closed by #674

[2022-03-14 14:02] #669 closed, assigned to nobody

[2022-03-31 07:53] gvolpe opened #681 "Transactions & Pipeline: the current issue and ideas to fix it"
### Introduction

I've had this on my mind for a very long time, so let me see if I can communicate the issue so that others may help.

The current implementation of [transactions](https://redis4cats.profunktor.dev/transactions.html) is *almost* right, but it can't make any guarantees about commands running in order, because that's up to the runtime system (i.e. the scheduler). Thus, I've been rec

[2022-03-31 09:15] kyri-petrou commented on #681
I'm not very knowledgable so feel free to ignore me or tell me off if any of my suggestions are terrible / don't make sense 😄

1. Since Redis 2.6.5 you don't have to call `DISCARD` on error within a transaction. If any command errors, Redis will keep ignoring all commands within the transaction until `EXEC` is called, at which point it will raise an error. Would that help simplify the design in an

[2022-03-31 09:22] joroKr21 commented on #681
It sounds like modelling the individual operations with `IO` might not be appropriate. E.g. Doobie has a special `ConnectionIO` for that purpose. Or maybe `IO[IO[A]]` so that you can start them independently from waiting for the result. Or just some free data structure `RedisOp` that you interpret later.

[2022-03-31 09:47] gvolpe commented on #681
@kyri-petrou

1. That's good to know, but doesn't change much, besides removing the call to `DISCARD`.
2. I don't think that would work, as it is pretty much what we are doing now. The issue is that multiple calls to `startOn(ec)` does not guarantee the running order (that is up to the scheduler). The idea is good, though, we could use `startOn(ec)`, where `ec` needs a custom scheduler.

@joroKr21

[2022-03-31 10:20] joroKr21 commented on #681
Maybe you can use `IO.syncStep` if you can make sure that starting an operation is synchronous.

[2022-04-18 17:40] gvolpe commented on #681
@kyri-petrou your suggestion seems to work pretty well (see #685). Still on early stages but already showing promising results.

I think we'll still have the issue of not being able to guarantee the running order, but I guess that's a compromise we can make in favor of reliable execution of transactions.

[2022-04-18 21:38] kyri-petrou commented on #681
@gvolpe that's good news! I'm not too familiar with the cats / scala inners, but for running order would it make any difference if you used `.foldLeft` over the list instead of `.traverse` here? (with the necessary refactoring to make that work)

https://github.com/profunktor/redis4cats/pull/685/files#diff-c658d7aade2cc8ce11a81a5895799e8b68b7536fa836dd8745e2990aeabcf010R47

[2022-04-19 06:21] gvolpe commented on #681
@kyri-petrou both `traverse` and `foldLeft` will go through the list in order. My ordering concern goes deep into the scheduler: i.e. what happens when I use `start` / `startOn`? If I `start` multiple operations in order, is the order of execution respected? I'd need to investigate this further, but my understanding was that the JVM scheduler doesn't make any guarantees about the order of executio

[2022-04-19 12:39] kyri-petrou commented on #681
@gvolpe ah okay, I see your concern. I'm afraid I know very little on CE / JVM scheduling to have an opinion

What gave me the idea for my suggestion above came from Lettuce documentation and how they use the async API for transactions: https://github.com/lettuce-io/lettuce-core/wiki/Transactions#transactions-using-the-asynchronous-api

I might be extrapolating here but it seems to suggest that as

[2022-04-19 12:44] SawmyaS opened #686 "ReadFrom.REPLICA does not work in AWS ElastiCache MasterReplica"
We have a two node Redis cluster (AWS ElastiCache), with one primary node and one replica node in cluster mode disabled configuration. The encryption is enabled.
We want to read data from Replica node. We updated the code as per [Redis4Cats MasterReplica](https://redis4cats.profunktor.dev/client.html#example-using-the-strings-api). But the connection always goes to primary node.

Below is the code

[2022-04-20 15:10] gvolpe commented on #681
@kyri-petrou I think your understanding is correct. After all, you can only execute one transaction at a time per `RedisCommands`, and so far, it seems to work reliably. Perhaps the issue was always something else and I never really got it 🤷🏽

I will go ahead and merge it, I'm happy enough with the current UX, and I want to fix pipelining next.

[2022-04-20 15:14] #681 closed, assigned to nobody

[2022-04-23 20:42] gvolpe commented on #681
FYI: #689 improves UX by a large margin 💪🏽

[2022-04-24 08:46] gvolpe commented on #686
@SawmyaS Can you try running `examples/runMain dev.profunktor.redis4cats.RedisMasterReplicaStringsDemo` and see if you can reproduce (might require config adjustments in `docker-compose.yml`)?

Run `docker-compose up SingleNode ReplicaNode` to start both servers. See #690

Also, how do verify the connection goes to the primary node and not to the replica node? Debug-level logs?

[2022-04-25 04:33] kyri-petrou commented on #681
😮 that's some great stuff there, well done!

[2022-04-27 05:23] SawmyaS commented on #686
There was some config issues. Resolved it and the connection works as expected.

[2022-04-27 05:23] #686 closed, assigned to nobody

[2022-05-18 09:11] gvolpe commented on #626
@hughsimpson sorry for the late reply. Honestly, the little time I have for this library is mainly dedicated to the Effects API, so I'd consider the Stream API (including PubSub) experimental until someone decides to become an active maintainer of it.

Using pub/sub within a transaction was previously possible, but without the guarantee of all the operations running within the same thread, which i

[2022-06-13 18:32] wvandermerwe opened #701 "Add support for KEEPTTL option in SET command"
https://redis.io/commands/set/

[2022-07-25 11:51] MamdouhAhmed commented on #662
Hey @gvolpe, I'd be happy to volunteer as a maintainer for this project.

[2022-07-25 12:58] gvolpe commented on #662
@MamdouhAhmed great, check your inbox for the invite :)

[2022-07-26 14:50] MamdouhAhmed commented on #701
@gvolpe should this issue be closed by now?

[2022-07-26 14:53] gvolpe commented on #701
Closed by #714

[2022-07-26 14:53] #701 closed, assigned to nobody

[2022-10-05 23:03] wb14123 opened #735 "Is there FLUSHDB command?"
I cannot find the API for FLUSHDB command: https://redis.io/commands/flushdb/. Is there anyway I can execute this command with redis4cats?

[2022-10-06 07:39] #735 closed, assigned to nobody